@model WeatherApp.ViewModels.WeatherViewModel

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Weather in @Model.Location</h3>
            <div class="row mt-2">
                <div class="col-sm-12 mb-4 conditionRow text-center">
                    <img class="weather-icon" src="@Model.IconUrl" alt="Weather Icon" />
                    <p class="card-text">Condition: <br /><span class="weather-data">@Model.Condition</span></p>
                </div>
                <hr />
                <div class="col-sm-12 col-lg-4 text-center weatherCollumn">
                    <button class="btn btn-sm btn-primary CustomBtn" id="toggleUnitBtn" onclick="toggleTemperatureUnit()">Convert to °F</button>
                    <button class="btn btn-sm btn-primary CustomBtn" onclick="refreshWeather()">Refresh</button>
                </div>
                <div class="col-sm-12 col-lg-4 text-center weatherCollumn">
                    <p class="card-text">Temperature: <br /><span class="weather-data" id="temperature">@Model.Temperature</span> <br /></p>
                    <p class="card-text">Wind Speed: <br /><span class="weather-data">@Model.WindSpeed</span></p>
                    <p class="card-text">Humidity: <br /><span class="weather-data">@Model.Humidity</span></p>
                </div>
                <div class="col-sm-12 col-lg-4 text-center weatherCollumn">
                    <p class="card-text">Pressure: <br /><span class="weather-data">@Model.Pressure</span></p>
                    <p class="card-text">Visibility: <br /><span class="weather-data">@Model.Visibility</span></p>
                    <p class="card-text">UV Index: <br /><span class="weather-data">@Model.UVIndex</span></p>
                </div>
            </div>
        </div>
    </div>
